@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3 {
  margin: 0 0 0.35em;
}

h1 {
  font-size: 48px;
  color: rgb(54, 60, 70);
}
h2 {
  font-size: 48px;
  color: rgb(54, 60, 70);
}

h3 {
  font-size: 48px;
  color: rgb(54, 60, 70);
}

p {
  margin: 0 0 1.15em;
  font-size: 21px;
}

.italic1 {
  color: green;
  font-style: italic;
  /* display: none; */
}

.calibre7 {
  color: green;
}
a {
  color: rgb(76, 76, 175) !important;
}

.calibre_20 {
  font-weight: 600;
  color: rgb(31 41 55);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(31 41 55);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
