@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3 {
  margin: 0 0 0.35em;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 48px;
}

h3 {
  font-size: 48px;
}

p {
  margin: 0 0 1.15em;
  font-size: 21px;
}

.explanation {
  color: green;
  font-style: italic;
}

a {
  color: blue !important;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(31 41 55);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
