@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3 {
  margin: 0 0 0.35em;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 48px;
}

h3 {
  font-size: 48px;
}

p {
  margin: 0 0 1.15em;
  font-size: 21px;
}

.calibre_19 :not(a) {
  color: green;
  font-style: italic;
}

a {
  color: blue;
  cursor: pointer;
}
